{{ title }}
<p>Mostrando información</p>
<button type="submit" (click) ="obtenerInfo()">Ver info</button>
<div class="col-12 mt-4 ml-2 mr-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>Ubicación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let datos of data[0]; let i = index">
          <td>{{ i+1  }}</td>
          <td>{{ datos.name  }}</td>
          <td>{{ datos.location  }}</td>

      </tr>
    </tbody>
  </table>
</div>

