<form class = "form-row">
  <div class ="form-group col-md-2">
    <label>Ingresa tu nombre</label>
    <input  class ="form-control" type= "text" name="nombre" id="nombre" placeholder="Ingresa tu nombre"
      [(ngModel)] = "nombre" />
  </div>
  <div class ="form-group col-md-2">
    <label>Ingresa tu apellido</label>
    <input  class ="form-control" type= "text" name="apellido" id="apellido" placeholder="Ingresa tu apellido"
      [(ngModel)] = "apellido" />
  </div>
  <button type ="submit" class="btn btn-primary" (click)="addPerson()">Agregar</button>
</form>
